<!-- Editor Modal -->
<dialog id="editorModal" class="modal">
    <div class="modal-box w-11/12 max-w-6xl h-[90vh] glass-panel text-base-content flex flex-col p-0 overflow-visible">
        <div class="p-4 border-b border-white/10 flex justify-between items-center bg-black/20">
            <h3 class="font-bold text-lg" id="editor-filename">Editando...</h3>
            <button type="button" class="btn btn-sm btn-circle btn-ghost"
                onclick="closeEditorModal()">✕</button>
        </div>
        <div class="flex-grow p-0 relative min-h-0 bg-[#0f172a]">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css">
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/theme/dracula.min.css">
            <style>
                /* Solución z-index para que menús de TinyMCE (tox-tinymce-aux) se vean sobre The DaisyUI dialog.modal */
                .tox-tinymce-aux {
                    z-index: 9999999 !important;
                }
                /* Integración Estética Premium para TinyMCE */
                .tox-tinymce {
                    border: none !important;
                    border-radius: 0 0 16px 16px !important;
                    background: transparent !important;
                }
            </style>
            <div id="editor-container" class="h-full w-full text-base"></div>
        </div>
        <div class="p-4 border-t border-white/10 bg-black/20 flex justify-end gap-2 shrink-0">
            <button class="btn btn-warning btn-sm btn-outline hidden mr-auto" id="restore-template-btn"><i
                    class="bi bi-arrow-counterclockwise"></i> Restaurar .bak</button>
            <button type="button" class="btn btn-ghost"
                onclick="closeEditorModal()">Cancelar</button>
            <button class="btn btn-primary text-white" id="save-template-btn">Guardar Cambios</button>
        </div>
    </div>
</dialog>
